*
{

    font-family: "Kanit", sans-serif;
    color: white;
}

#aboutus
{

    background-image: url(/about-background.jpg);
}

.about-title
{
    font-size: 5rem;
    font-style: italic;
    font-weight: BOLD;
    padding-top: 5rem;

}

.about-intro
{
    text-align: center;
    background-size: cover;
    padding-bottom: 8em;
    margin-top: 5rem;
}

.about-quality
{
    font-weight: BOLD;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.intro-subtitle
{
    font-size: 1.5rem;
}

.quality-img{
    background-color: black;
    width: 3rem;
    padding: 1rem;
    border-radius: 50%;
}



#about-quality
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.quality-card
{
    text-align: center;
}

.quality-desc
{
    color: black;
    width: 20rem;
    text-align: center;
}

.quality-title
{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

