<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetConnect | AboutUs</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/front.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <%- include ('./common/navbar') %>
    <section id="aboutus">
        <div class="about-intro">
            <p class="about-title" >GADGET CONNECT</p>
            <p class="intro-subtitle">COMPUTER REPAIR SERVICE <span class="about-quality">FAST & AFFORDABLE</span></p>
        </div>
    </section>

    <section id="about-quality" >
        <div class="quality-card">
            <img class="quality-img" src="/price-tag.png" alt="">
            <p class="quality-title">LOW PRICES</p>
            <p class="quality-desc">Very low prices that are catered to your needs.</p>
        </div>
        <div class="quality-card">
            <img class="quality-img" src="/monitor.png" alt="">
            <p class="quality-title">QUALIFIED TECHS</p>
            <p class="quality-desc">Best technicians around your area capable of solving your problems</p>
        </div>
        <div class="quality-card">
            <img class="quality-img" src="/high-quality.png" alt="">
            <p class="quality-title">QUALITY ASSURANCE</p>
            <p class="quality-desc">Assuring the best quality services for our customers!</p>
        </div>
    </section>
</body>
</html>